body {
    background: #111;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 110%;
    color: #ccc;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 6%;
    background: #222;
    font-family: sans-serif, Helvetica, Arial;
}

a {
    color: CornflowerBlue;
}

a:visited {
    color: CadetBlue;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    text-align: right;
}

.right {
    text-align: right;
}

p {
    margin: 10px 20px;
}

h1, h2, h3, h4, h5, h6 {
    background: #444;
    color: #fff;
    padding: 10px 40px;
}

h3 {
    background: #555;
    font-style: italic;
}

pre {
    padding: 10px;
    background: #000;
}

#index {
    padding-left: 80px;
    background: #0B1022;
}
