      <footer>
        <strike>&copy;{function="date('Y')"} Your Site</strike>
        Murt is under public domain \o/
        <a href="http://russitto.com/murt/">russitto.com/murt/</a>
        <br />
        Rain TPL is under Lesser GPL v3
        <br />
        RedBeanPHP is under (dual) BSD/GPLv2
        <br />
        <img src="{$_TPL_}/assets/img/Cat_silhouette.png"
         alt="This image is under public domain"
         title="This image is under public domain"
         />
      </footer>
    </div>
  </body>
</html>
