{include="_head"}
<h1><a href="{$_BASE_}/">Welcome to Murt</a></h1>
<h3 class="right">
  µ Route Template framework
</h3>
<h4>
  <a href="https://gitorious.org/ushphp/murt">Clone me at Gitorious</a>
  git clone git://gitorious.org/ushphp/murt.git
</h4>
<h4>
  Download me
  <a href="{$_BASE_}/murt-0_6.zip">murt-0_6.zip (74 KB)</a>
  <a href="{$_BASE_}/murt-0_6.tar.xz">murt-0_6.tar.xz (59 KB)</a>
</h4>
<p>
  Simple, really simple, & minimal PHP framework.
</p>
<div id="index">
<pre><code data-language="php" class="rainbow"><span class="variable language php-tag">&lt;?php</span>
<span class="comment">// This is /index.php</span>
<span class="comment">// And this is Murt:</span>
<span class="keyword">include</span> <span class="string">'App/Murt.php'</span>;
<span class="comment">// If you want to use a db:</span>
<span class="keyword">include</span> <span class="string">'App/Vendors/RedBean/rb.php'</span>;
<span class="comment">// If you want to use templates:</span>
<span class="keyword">include</span> <span class="string">'App/Vendors/RainTpl3/library/Rain/Tpl.php'</span>;

<span class="comment">// // include extra config:</span>
<span class="comment">// include 'App/config.php';</span>

<span class="comment">// Murt::$base = '/';</span>
<span class="comment">// OR:</span>
<span class="comment">// Murt::$base = '/other/path';</span>
<span class="comment">// OR dinamically:</span>
<span class="support class">Murt</span><span class="keyword static">::</span><span class="variable dollar-sign">$</span><span class="variable">base</span> <span class="keyword operator">=</span> <span class="support function">dirname</span>(<span class="variable dollar-sign">$</span><span class="variable">_SERVER</span>[<span class="string">'SCRIPT_NAME'</span>]);

<span class="comment">// Main is a class located at App/Controllers/Main.php</span>
<span class="comment">// Test is a class located at App/Controllers/Main.php</span>
<span class="variable dollar-sign">$</span><span class="variable">routes</span> <span class="keyword operator">=</span> <span class="support function">array</span>(
    <span class="string">'/'</span> <span class="keyword operator">=</span><span class="keyword operator">&gt;</span> <span class="string">'Main'</span>,
    <span class="string">'/test/(.+)'</span> <span class="keyword operator">=</span><span class="keyword operator">&gt;</span> <span class="string">'Test'</span>,
);
<span class="comment">// Main renders a pure PHP template (some frameworks call it view)</span>
<span class="comment">//   at App/Templates/Main.html</span>
<span class="comment">// Test renders a pure PHP template (some frameworks call it view)</span>
<span class="comment">//   at App/Templates/Test.html</span>

<span class="support class">Murt</span><span class="keyword static">::</span><span class="function call">init</span>(<span class="variable dollar-sign">$</span><span class="variable">routes</span>, <span class="variable dollar-sign">$</span><span class="variable">_SERVER</span>);
</code></pre>
</div>
<hr />

<pre>
Playing with views:
Variables:

{function="var_dump($vars)"}
</pre>

<p>
  <a href="{$_BASE_}/test/param1">Test with parameters</a>
  <a href="{$_BASE_}/">Test without parameters</a>
</p>
<div id="disqus_thread"><input type="hidden" id="url_id" value="murt" /></div>
{include="_foot"}
